{% extends "main/base/index.html" %}
{% block content %}

<script src="https://momentjs.com/downloads/moment.js"></script>
<script src="https://momentjs.com/downloads/moment-timezone-with-data.js"></script>

<title>pageAdmin</title>

<style media="screen">
  .card {
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-color: #d1d1d1;
    margin: .5em;
    width: 50%;
    min-width: 320px;
  }

  .answer-option {
    border-radius: 5px;
    border: 1px solid;
    border-color: #48c774;
    outline: none;
    margin: .4em;
  }

  .numberCircle {
    width: 2em;
    border-radius: 5em;
    text-align: center;
    background-color: #00d1b2;
    font-weight: bold;
    margin-top: -2.3em;
  }

  .time::placeholder {
    text-align: center;
  }

  .time {
    width: 50px;
    height: 30px;
    margin-top: -.1em;
  }

  .time_spec select {
    height: 30px;
    width: 85px;
    text-align: center;
    margin-top: -.1em;
    padding-top: unset;
    padding-bottom: unset;
  }

  .time_spec:not(.is-multiple) {
    height: auto;
  }

  .mcq,
  .qa {
    background-color: #fffdf0;
  }

  .fa-image {
    font-size: 1.8em;
  }
</style>

<center id="main_container" class="anime">

  <div class="card" style="background-color: #fffdf0">
    <div class="card-content">
      <div class="content has-text-centered">
        <b>Exam starts at </b><br>
        <div style="padding: .8em;">
          <input class="input is-primary time" type="text" placeholder="H" id="exam_start_h"> :
          <input class="input is-primary time" type="text" placeholder="M" id="exam_start_m">
          &nbsp;
          <div class="select is-primary time_spec" style="">
            <select id="time_selection">
              <option value="1">PM</option>
              <option value="0">AM</option>
            </select>
          </div>
        </div>

        <b>Exam duration</b> <br>
        <div style="padding: .8em">
          <input class="input is-primary time" type="text" placeholder="H" id="exam_duration_h"> :
          <input class="input is-primary time" type="text" placeholder="M" id="exam_duration_m">
        </div>

      </div>
    </div>
  </div> <br>

  <input class="input is-primary" type="text" placeholder="Title of the Exam" style="width: 50%; min-width: 300px;margin-bottom: 1em;" id="_title_">

  <div class="card" id="create">
    <div class="card-content">
      <div class="content has-text-centered">
        <h5>Select the type:</h5>

        <button type="button" name="button" style="margin-top: 1em;" id="img_btn" onclick="add_image();">
          <i class="fa fa-image"></i>
          <input type="file" id="file_upload" oninput="upload_image(this);" multiple hidden>
        </button>

        <div class="select is-success" style="margin: .5em;">
          <select id="type_selection">
            <option value="1">MCQ</option>
            <option value="2">Short Q/A</option>
          </select>
        </div>
        <button class="button is-success" onclick="create();" style="margin: .5em;">create</button>
        <br>
      </div>
    </div>
  </div>

  <div id="msg_box" hidden class="anime">
    <article class="message is-warning" style="width: 50%; min-width: 300px;">
      <div class="message-header">
        <p>Alert</p>
        <button class="delete" aria-label="delete" onclick="delete_msg();"></button>
      </div>
      <div class="message-body" id="msg_content">
      </div>
    </article>
  </div>

  <br>
  <button class="button is-success is-outlined anime" onclick="save();" style="margin: .5em;" id="save_btn">Done</button><br>
</center>

{% csrf_token %}

<script type="text/javascript">
  let img_dict = {};
  let count_ques = 0;
  let count_img = 0;
  let ans_csv = ['name', 'duration', 'marks']; //append 1,2,3
  let ques_csv = [['questions', 'answer']];

  $('#save_btn').hide();
  document.getElementById("img_btn").disabled = true;

  function create() {
    ans_csv.push(count_ques);
    count_ques++;
    count_img = 0;
    img_dict[count_ques - 1] = [];
    let type = $('#type_selection option:selected').val();
    let mcq =
      '<div class="card anime mcq"><div class="card-content"><div class="numberCircle">' + count_ques +
      '</div><br><div class="content has-text-centered"><textarea class="_mcq_ textarea is-primary question" placeholder="Enter the question"></textarea></div><button class="button is-success" onclick="add(this);" style="font-size: 1em;margin: 1em;">Add options</button><br></div></div><br>'
    let qa =
      '<div class="card anime qa"><div class="card-content"><div class="numberCircle">' + count_ques +
      '</div><br><div class="content has-text-centered"><textarea class="_qa_ textarea is-success question" placeholder="Enter the question"></textarea><input class="input is-success answer_qa" type="text" placeholder="Enter the answer" style="width:55%;margin: 1em;" /></div></div></div><br>'
    if (type == "1") { //mcq
      $(mcq).insertBefore("#create");
    } else { //qa
      $(qa).insertBefore("#create");
    }
    $('#save_btn').show();
    document.getElementById("img_btn").disabled = false;
  }

  function add(obj) {
    let option = '<div class="control anime" style="margin: .5em;"><label class="checkbox"><input type="checkbox" class="radio_btn"></label><input class="answer-option" type="text" style="padding: .5em;" placeholder="Enter the option" /></div>'
    $(option).insertBefore(obj);
  }

  function add_image() {
    document.getElementById("file_upload").click();
  }

  function upload_image(input) {
    document.getElementById("save_btn").disabled = true;
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function(event) {
        $('<img src="' + event.target.result + '" style="height: 15em;"> </img> <br>').insertBefore(".question:last");
        send_img_to_server(event.target.result);

      }
      reader.readAsDataURL(input.files[0]);
    }
  }

  function send_img_to_server(base64) {
    $.ajax({
      url: "https://api.imgbb.com/1/upload",
      type: 'POST',
      data: {
        key: "bbbcf324565e027777302dbe3303c622",
        image: base64.split("base64,")[1],
        expiration: '172800',
      },
      cache: false,
      success: function(data) {
        document.getElementById("save_btn").disabled = false;
        img_dict[count_ques - 1][count_img] = data['data']['url'];
        count_img++;
      },
      error: function() {
        show_msg("image is not uploaded! <br> try using another format");
      }
    });

  }


  function show_msg(string) {
    document.getElementById('msg_box').hidden = false;
    $('html, body').animate({
        scrollTop: $("#msg_box").offset().top
    }, 500);
    document.getElementById('msg_content').innerHTML = string;
  }

  function delete_msg() {
    document.getElementById('msg_box').hidden = true;
  }

  function save() {
    let json_ques = {
      'ques_mcq': [],
      'mcq': {},
      'mcq_correct': {},
      'ques_qa': [],
      'qa_correct': [],
      'images': img_dict
    };

    let temp_array = [];

    let mcq = $('._mcq_').length;
    // let mcq_div = $('.mcq').length;
    let qa = $('._qa_').length;


    let start_h = Number(document.getElementById('exam_start_h').value); //hour
    let start_m = Number(document.getElementById('exam_start_m').value); //min

    let duration_h = Number(document.getElementById('exam_duration_h').value);
    let duration_m = Number(document.getElementById('exam_duration_m').value);

    json_ques.title = document.getElementById('_title_').value;

    if (isNaN(start_h) || start_h > 12 || start_h < 1) {
      show_msg("Please enter a valid hour in <b>Exam starts at H</b> field <br> (range: 1-12) only numbers!");
      return false;
    } else if (isNaN(start_m) || start_m > 59 || start_m < 0) {
      show_msg("Please enter a valid minute in <b>Exam starts at M</b> field <br> (range: 0-59) only numbers!");
      return false;
    } else if (isNaN(duration_h) || duration_h < 0) {
      show_msg("Please enter a valid hour in <b>Exam duration H</b> field");
      return false;
    } else if (isNaN(duration_m) || duration_m > 59 || duration_m < 0) {
      show_msg("Please enter a valid minute in <b>Exam duration M</br> field");
      return false;
    } else if (duration_h == 0 && duration_m == 0) {
      show_msg("Please enter a valid duration in <b>Exam duration</br> field");
      return false;
    } else if (json_ques.title == "" || json_ques.title.search(/\`|\~|\!|\@|\$|\%|\^|\&|\*|\+|\||\\|\'|\>|\?|\/|\""|\;/g) != -1 || json_ques.title.replace(/ /g, '') == "") {
      show_msg("Please Enter a Valid Title.<br>(remove special characters)");
      return false;
    }

    json_ques['duration'] = duration_h * 3600 + duration_m * 60; //in sec

    let time_select = $('#time_selection option:selected').val();
    if (time_select == "1" && start_h < 12) {    //PM
      start_h += 12;
    }
    else if (time_select=="0" && start_h == 12) {
      start_h = 0;
    }

    let m = moment().tz("Asia/Dhaka");

    if (start_h < m.hour()) {
      show_msg("Please enter a valid hour in <b>starts at H field</b>");
      return false;
    } else if (start_h == m.hour() && start_m < m.minute()) {
      show_msg("Please enter a valid minute in <b>starts at M field</b>");
      return false;
    }

    document.getElementById("save_btn").disabled = true;

    json_ques['starts'] = start_h * 3600 + start_m * 60;

    for (count = 0; count < qa; count++) {
      json_ques.ques_qa[count] = $('._qa_:eq(' + count + ')').val();
      temp_array.push(json_ques.ques_qa[count]);
      json_ques.qa_correct[count] = $('.answer_qa:eq(' + count + ')').val();
      temp_array.push(json_ques.qa_correct[count]);
      ques_csv.push(temp_array);
      temp_array = [];

    }

    for (let count = 0; count < mcq; count++) {
      json_ques.ques_mcq[count] = $('._mcq_:eq(' + count + ')').val();
      temp_array.push(json_ques.ques_mcq[count]);
      let n_options = $('.mcq:eq(' + count + ') .radio_btn').length;
      json_ques.mcq[count] = [];
      json_ques.mcq_correct[count] = [];
      let serial = 0;
      for (let c = 0; c < n_options; c++) {
        let mcq_options = $('.mcq:eq(' + count + ') .answer-option:eq(' + c + ')').val();
        json_ques.mcq[count][c] = mcq_options;
        if ($('.mcq:eq(' + count + ') .radio_btn:eq(' + c + ')').is(':checked')) {
          json_ques.mcq_correct[count][serial] = mcq_options;
          serial++;
        }
      }
      temp_array.push(json_ques.mcq_correct[count].join());
      ques_csv.push(temp_array);
      temp_array = [];
    }

      // csv_field[1].push(json_ques.mcq_correct[count].join());

    json_ques = JSON.stringify(json_ques);
    ans_csv = JSON.stringify(ans_csv);
    ques_csv =  JSON.stringify(ques_csv);
    $.ajax({
      url: '', //self-calling
      data: {
        json_ques: json_ques,
        ans_csv: ans_csv,
        ques_csv: ques_csv,
        csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value
      },
      type: 'POST',
      dataType: 'json',
      cache: false,
      success: function(data) {
        window.location.href = 'http://127.0.0.1:8000/';
      },
      error: function() {
        show_msg("Internal Server Error <br> please try again later");
        document.getElementById("save_btn").disabled = false;
      }
    });
  }
</script>

{% endblock %}
