{% extends "main/base/index.html" %}
{% block content %}


<title>Forms</title>


<style media="screen">
  body {
    word-break: break-all;
  }

  .flex_box {
    display: flex;
    flex-wrap: wrap;
  }

  .cards {
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-color: #d1d1d1;
    margin: .5em;
    flex: 30%;
  }

  .hover:hover {
    transition: .2s;
    background-color: #f0fff4;
    cursor: pointer;
  }

  .cred {
    width: 55%;
    min-width: 320px;
  }
</style>

<center>
  <div class="flex_box" id="container">

  </div>

{% csrf_token %}

</center>

<script type="text/javascript">

  let ques_id;

  let id_count = 0;
  {%for cont in content %}
    id_count++;
    $('#container').append('<div class="card anime cards" id="' + id_count + '" onclick="redirect(this.id);"><div class="card-content hover"><div class="content has-text-centered"><h5>' + '{{cont.title}}' + '</h5></div></div></div>');
  {% endfor %}


function redirect(id){
  window.location.href = 'questions/'+id;
}


</script>

{% endblock %}
