{% extends "main/base/index.html" %}
{% block content %}

<title>Forms</title>

<style media="screen">
  body {
    word-break: break-all;
  }

  .card {
    width: 55%;
    min-width: 320px;
  }

  hr {
    background-color: #caeba0;
  }

  #stickThis.stick {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }
</style>

<div class="card has-text-centered" id="stickThis" style="background-color: #fffde8; min-width: 130px; width:130px; height: 45px;">
  <div style="font-size: 0.6rem;">time remaining:</div>
  <h6 style="font-size: 1.2rem;" id="time">

  </h6>
</div> <br>

<center class="anime">

  <div class="card" style="background-color:#fffde8;" id="student_creds">
    <div class="card-content">
      <div class="content has-text-centered"><b>Please fill up</b><br><br>
        <div class="field">
          <p class="control has-icons-left"><input style="background-color:#fcfbf0;" id="name" class="input" type="text" placeholder="Enter your name"><span class="icon is-small is-left"><i class="fa fa-user"></i></span></p>
        </div>
        <div class="field">
          <p class="control has-icons-left"><input style="background-color:#fcfbf0;" id="email" class="input" type="email" placeholder="Enter your e-mail"><span class="icon is-small is-left"><i class="fa fa-envelope"></i></span></p>
        </div>
        <div class="field">
          <p class="control has-icons-left"><input style="background-color:#fcfbf0;" id="number" class="input" type="text" placeholder="Enter your phone number"><span class="icon is-small is-left"><i class="fa fa-phone"></i></span></p>
        </div>
        <button class="button is-primary is-outlined" onclick="save_creds();">Next</button>
      </div>
    </div>
  </div>

  <div id="msg_box" hidden>
    <br><br>
    <article class="message is-warning" style="width: 50%; margin: auto;">
      <div class="message-header">
        <p>Alert</p><button class="delete" aria-label="delete" onclick="delete_msg();"></button>
      </div>
      <div class="message-body" id="msg_content"></div>
    </article>
    <br><br>
  </div>

    <div class="card question" style="background-color:#f5faf0;" id="question_form">
      <div class="card-content">
        <div class="content has-text-centered" id="content">

        </div>
      </div>
      <br>
    <button class="button is-primary is-outlined" onclick="send_ans_to_server();" id="submission_btn">Submit</button>
    <br><br>
    </div>

  {% csrf_token %}

</center>

<script type="text/javascript">
  let ques_qa = {{ ques_qa | safe }};
  let ques_mcq = {{ ques_mcq | safe }};
  let mcq = {{ mcq | safe }};
  let images = {{ images | safe }};
  let h, m, s;
  // let csv_field = [];
  let response_ans = {
    'mcq_ans': {},
    'qa_ans': []
  };

  document.getElementById("question_form").style.display = 'none';


  $("#content").append("<h3>" + '{{ title }}' + "</h3>");
  for (let i = 0; i < ques_qa.length; i++) {
    $("#content").append("<hr><div class='ques_div'><h5 style='float:left;'> &#9654;&nbsp;" + ques_qa[i] + "</h5><br>\
    <input style=\"background-color:#fdfffa;\" class=\"input is-primary qa_correct\" type=\"text\" placeholder=\"Answer the short question\" value=''></div>");
  }
  for (i = 0; i < ques_mcq.length; i++) {
    $("#content").append("<hr><div class='mcq_holder ques_div'><h5 style='float:left;'> &#9654;&nbsp;" + ques_mcq[i] + "</h5><br></div>");
    for (let d = 0; d < mcq[i].length; d++) {
      $(".mcq_holder:eq(" + i + ")").append('<br><label class="checkbox" style="float: left;"><input class="mcq_option" type="checkbox" value="' + mcq[i][d] + '">&nbsp;&nbsp;' + mcq[i][d] + '</label><br>');
    }
  }
  for (i = 0; i < Object.keys(images).length; i++) {
    for (d = 0; d < images[i].length; d++) {
      $(".ques_div:eq(" + i + ")").prepend('<img src="' + images[i][d] + '" style="padding-top: .8em;" alt="couldn\'t load the image"><hr style="opacity:0;">');
    }
  }


  function validateEmail(email) {
    const re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(email);
  }

  function delete_msg() {
    $('#msg_box').hide();
  }

  function show_msg(string) {
    $("#msg_box").fadeIn();
    $.scrollTo($('#msg_box'), 1000);
    document.getElementById('msg_content').innerHTML = string;
  }


  let name, email, number;

  function save_creds() {
    name = document.getElementById('name').value;
    email = document.getElementById('email').value;
    number = document.getElementById('number').value;
    if (name == "" || email == "" || number == "") {
      show_msg("Please fill the form properly");
      return false;
    } else if ((/^[0-9]*$/gm.test(name))) {
      show_msg("Name cannot be numeric");
      return false;
    } else if (!validateEmail(email)) {
      show_msg("Enter a valid mail");
      return false;
    } else if (!(/^[0-9]*$/gm.test(number)) || number.length < 11 || number.length > 15) {
      show_msg("Enter your phone number correctly");
      return false;
    }
    document.getElementById("student_creds").style.display = 'none';
    document.getElementById("question_form").style.display = 'block';
    delete_msg();

  }


  function send_ans_to_server() {
    response_ans['name'] = name;
    response_ans['duration'] = pad(h, 2) + ":" + pad(m, 2) + ":" + pad(s, 2);
    document.getElementById('submission_btn').disabled = true;

    let qa = ques_qa.length;
    for (let count = 0; count < qa; count++) {
      response_ans.qa_ans[count] = $('.qa_correct:eq(' + count + ')').val();
    }

    let mcq_size = ques_mcq.length;
    let array_count = 0;
    for (count = 0; count < mcq_size; count++){
      response_ans.mcq_ans[count] = [];                //count -> question number
      let size = mcq[count].length;                         // size -> number of mcq_options
      array_count = 0;
      for(let ct = 0; ct < size; ct++){
        if ($(".mcq_holder:eq(" + count + ") .mcq_option:eq(" + ct + ")").is(':checked')) {
          response_ans.mcq_ans[count][array_count] = $(".mcq_holder:eq(" + count + ") .mcq_option:eq(" + ct + ")").val();
          array_count++;
      }
    }
  }

    $.ajax({
      url: '', //self-calling
      data: {
        name: name,
        email: email,
        number: number,
        response_ans: JSON.stringify(response_ans),
        csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value
      },
      type: 'POST',
      dataType: 'json',
      cache: false,
      success: function(data) {
        window.location.href = "http://127.0.0.1:8000/";
      },
      error: function() {
        document.getElementById('submission_btn').disabled = false;
        show_msg("Internal Server Error! (probably for overloading) <br> please try again later");
      }
    });

  }


  let div = document.getElementById('stickThis');
  div.style.left = (window.innerWidth / 2 - div.offsetWidth / 2) + 'px';

  $(document).ready(function() {
    $(window).scroll(function() {
      var distanceFromTop = $(document).scrollTop();
      if (distanceFromTop >= '150') {
        $('#stickThis').addClass('stick');
      } else {
        $('#stickThis').removeClass('stick');
      }
    });
  });

  function pad(num, size) {
    num = num.toString();
    while (num.length < size) num = "0" + num;
    return num;
  }

  function start_countdown(time) {
    let float_val = time / 3600;
    h = parseInt(float_val);
    float_val = (float_val - h) * 60
    m = parseInt(float_val);
    s = parseInt((float_val - m) * 60);

    document.getElementById('time').innerHTML = pad(h, 2) + ":" + pad(m, 2) + ":" + pad(s, 2);
    let count = setInterval(function() {
      if (s == 0) {
        s = 60;
        m--;
        if (m <= 0 && h != 0) {
          m = 59;
          h--;
        }
      }
      s--;
      document.getElementById('time').innerHTML = pad(h, 2) + ":" + pad(m, 2) + ":" + pad(s, 2);
      if (h == 0 && m == 0) {
        if (s != 0) {
          document.getElementById('stickThis').style.backgroundColor = '#ffa696';
        } else {
          clearInterval(count);
          window.location.href = '/';
        }
      }
    }, 1000);
  }

  start_countdown({{ remaining_time }});

  window.onblur = function(){
    window.location.href = "";
  };

</script>

{% endblock %}
